# systemd unit file for the Python Temperature Service
# DFrederick June 22, 2020
# DFrederick March 28, 2026

[Unit]
# Human readable name of the unit
Description=Python Temperature Service


[Service]
# Command to execute when the service is started
ExecStart=sudo /home/pi/python/house_temperature_monitor/venv/bin/python /home/pi/python/house_temperature_monitor/monitor_hvac_system.py

# Disable Python's buffering of STDOUT and STDERR, so that output from the
# service shows up immediately in systemd's logs
Environment=PYTHONUNBUFFERED=1

# Automatically restart the service if it crashes
Restart=on-failure

# Our service will notify systemd once it is up and running
#Type=notify

# Use a dedicated user to run our service
User=pi


[Install]

# Tell systemd to automatically start this service when the system boots
# (assuming the service is enabled)
WantedBy=default.target

